# Ondate di calore

In [15]:
#importiamo la libreria e leggiamo lo spreadsheet
import pandas as pd
df=pd.read_csv("/Users/macssd/Downloads/sole24h/Caltanissetta.csv", sep='\;', encoding = 'unicode_escape', engine ='python')

In [8]:
df.columns

Index(['data', 'ora', 'qn', 'zt', 'img', 'desc', 'desc_lng', 'mimg', 'mdesc',
       'mdesc_lng', 'ore_sole', 'ventoint', 'ventodir', 'temperatura',
       'temperatura_percepita', 'precipitazioni', 'accumulo', 'neve',
       'probabilita_prec', 'ma', 'ao', 'hr', 'pr', 'uv', 'copertura',
       'mcopertura', 'descrizione_uv', 'aggiornamento', 'dataestesa',
       'dataestesa_small'],
      dtype='object')

In [11]:
def ondatedicalore(x):
    x=x[(x.ora==12)].temperatura
    x = x.reset_index(drop=True)
    y=1
    tot=0
    while y<len(x):
        if x.iloc[y]>=30 and x.iloc[y+1]>=30 and x.iloc[y+2] >= 30 and x.iloc[y-1]<30:
            tot=tot+1
            y=y+1
        else:
            y=y+1
    print(f'Le ondate di calore in questo decennio sono state {tot}')

In [12]:
ondatedicalore(df)

Le ondate di calore in questo decennio sono state 69

In [24]:
tot

NameError: name 'tot' is not defined

In [2]:
listaprovince=["Verbania","Trani","Terni","Teramo","Sondrio","Ragusa","Padova","Oristano","Nuoro","Monza","Massa","Lodi","L'Aquila","Caltanissetta","Forlç","Fermo","Carbonia","Cesena","Carrara","Caserta","Biella","Agrigento", "Alessandria","Andria", "Aosta", "Ascoli piceno","Asti","Avellino","Barletta","Belluno","Chieti","Benevento", "Pescara", "Matera", "Potenza", "Catanzaro", "Cosenza", "Crotone", "Reggio Calabria", "Vibo Valentia", "Napoli", "Salerno", "Bologna", "Ferrara", "Modena", "Parma", "Piacenza", "Ravenna", "Reggio Emilia", "Rimini", "Gorizia", "Pordenone", "Trieste", "Udine", "Frosinone", "Latina", "Rieti", "Roma", "Viterbo", "Genova", "Imperia", "Isernia", "La Spezia", "Savona", "Bergamo", "Brescia", "Como", "Cremona", "Lecco",  "Mantova", "Milano", "Pavia", "Varese", "Ancona", "Macerata", "Pesaro","Urbino", "Campobasso", "Cuneo", "Novara", "Torino","Vercelli", "Bari", "Brindisi", "Foggia", "Lecce", "Taranto", "Cagliari", "Sassari", "Catania", "Enna", "Messina", "Palermo", "Siracusa", "Trapani", 
"Arezzo","Firenze","Grosseto","Livorno","Lucca", "Pisa", "Pistoia", "Prato", "Siena", "Bolzano", "Trento", "Perugia","Rovigo", "Treviso", "Venezia", "Verona", "Vicenza"]

In [3]:
len(listaprovince)

112

In [4]:
listaprovince

['Verbania',
 'Trani',
 'Terni',
 'Teramo',
 'Sondrio',
 'Ragusa',
 'Padova',
 'Oristano',
 'Nuoro',
 'Monza',
 'Massa',
 'Lodi',
 "L'Aquila",
 'Caltanissetta',
 'Forlç',
 'Fermo',
 'Carbonia',
 'Cesena',
 'Carrara',
 'Caserta',
 'Biella',
 'Agrigento',
 'Alessandria',
 'Andria',
 'Aosta',
 'Ascoli piceno',
 'Asti',
 'Avellino',
 'Barletta',
 'Belluno',
 'Chieti',
 'Benevento',
 'Pescara',
 'Matera',
 'Potenza',
 'Catanzaro',
 'Cosenza',
 'Crotone',
 'Reggio Calabria',
 'Vibo Valentia',
 'Napoli',
 'Salerno',
 'Bologna',
 'Ferrara',
 'Modena',
 'Parma',
 'Piacenza',
 'Ravenna',
 'Reggio Emilia',
 'Rimini',
 'Gorizia',
 'Pordenone',
 'Trieste',
 'Udine',
 'Frosinone',
 'Latina',
 'Rieti',
 'Roma',
 'Viterbo',
 'Genova',
 'Imperia',
 'Isernia',
 'La Spezia',
 'Savona',
 'Bergamo',
 'Brescia',
 'Como',
 'Cremona',
 'Lecco',
 'Mantova',
 'Milano',
 'Pavia',
 'Varese',
 'Ancona',
 'Macerata',
 'Pesaro',
 'Urbino',
 'Campobasso',
 'Cuneo',
 'Novara',
 'Torino',
 'Vercelli',
 'Bari',
 'Brindisi',
 'Foggia',
 'Lecce',
 'Taranto',
 'Cagliari',
 'Sassari',
 'Catania',
 'Enna',
 'Messina',
 'Palermo',
 'Siracusa',
 'Trapani',
 'Arezzo',
 'Firenze',
 'Grosseto',
 'Livorno',
 'Lucca',
 'Pisa',
 'Pistoia',
 'Prato',
 'Siena',
 'Bolzano',
 'Trento',
 'Perugia',
 'Rovigo',
 'Treviso',
 'Venezia',
 'Verona',
 'Vicenza']

In [22]:
for x in listaprovince: 
    print(x)

Verbania
Trani
Terni
Teramo
Sondrio
Ragusa
Padova
Oristano
Nuoro
Monza
Massa
Lodi
L'Aquila
Caltannissetta
Forlç
Fermo
Carbonia
Cesena
Carrara
Caserta
Biella
Agrigento
Alessandria
Andria
Aosta
Ascoli piceno
Asti
Avellino
Barletta
Belluno
Chieti
Benevento
Pescara
Matera
Potenza
Catanzaro
Cosenza
Crotone
Reggio Calabria
Vibo Valentia
Napoli
Salerno
Bologna
Ferrara
Modena
Parma
Piacenza
Ravenna
Reggio Emilia
Rimini
Gorizia
Pordenone
Trieste
Udine
Frosinone
Latina
Rieti
Roma
Viterbo
Genova
Imperia
Isernia
La Spezia
Savona
Bergamo
Brescia
Como
Cremona
Lecco
Mantova
Milano
Pavia
Varese
Ancona
Macerata
Pesaro
Urbino
Campobasso
Cuneo
Novara
Torino
Vercelli
Bari
Brindisi
Foggia
Lecce
Taranto
Cagliari
Sassari
Catania
Enna
Messina
Palermo
Siracusa
Trapani
Arezzo
Firenze
Grosseto
Livorno
Lucca
Pisa
Pistoia
Prato
Siena
Bolzano
Trento
Perugia
Rovigo
Treviso
Venezia
Verona
Vicenza

In [27]:
dati=[]

In [30]:
for x in listaprovince:
    df=pd.read_csv(f'/Users/macssd/Downloads/sole24h/{x}.csv', sep='\;', encoding = 'unicode_escape', engine ='python')
    #subset, selezionando la fascia oraria più calda: quella di mezzogiorno
    df=df[(df.ora==12)].temperatura
    df = df.reset_index(drop=True)
    y=1
    tot=0
    #loop nel quale si verificano due cose: 
    #In primo luogo, che ci siano almeno tre giorni di fila consecutivi con >= 30 gradi e che il precedente al primo sia inferiore ai 30
    #In questo modo non considera come più ondate di calore, quelle che durano anche più di tre giorni
    while y<len(df):
        if df.iloc[y]>=30 and df.iloc[y+1]>=30 and df.iloc[y+2] >= 30 and df.iloc[y-1]<30:
            tot=tot+1
            y=y+1
        else:
            y=y+1
    dati.append(tot)

In [31]:
dati

[63,
 62,
 69,
 75,
 67,
 60,
 80,
 79,
 73,
 74,
 63,
 74,
 63,
 69,
 74,
 73,
 76,
 75,
 50,
 64,
 47,
 66,
 79,
 65,
 72,
 78,
 79,
 58,
 64,
 43,
 61,
 70,
 30,
 65,
 63,
 72,
 69,
 61,
 66,
 62,
 58,
 51,
 75,
 77,
 72,
 75,
 74,
 74,
 72,
 39,
 77,
 75,
 38,
 75,
 62,
 50,
 60,
 60,
 66,
 20,
 20,
 61,
 64,
 21,
 76,
 76,
 67,
 74,
 49,
 77,
 72,
 74,
 42,
 40,
 74,
 30,
 59,
 62,
 57,
 81,
 83,
 79,
 61,
 50,
 75,
 68,
 57,
 68,
 71,
 75,
 54,
 57,
 55,
 62,
 62,
 65,
 66,
 51,
 21,
 74,
 69,
 73,
 75,
 65,
 70,
 78,
 68,
 81,
 74,
 37,
 83,
 78]

In [32]:
df2=pd.DataFrame(data=dati,index=listaprovince)

In [34]:
df2.to_csv("/Users/macssd/Desktop/Lab24/Ondatedicalore.csv")

# Soleggiamento

In [37]:
dati=[]
#LOOP per ogni provincia
for x in listaprovince:
    df=pd.read_csv(f'/Users/macssd/Downloads/sole24h/{x}.csv', sep='\;', encoding = 'unicode_escape', engine ='python')
    #sostituiamo - con 0
    df['ore_sole'] = df['ore_sole'].replace('-','0')
    #converto in dato numerico
    df['ore_sole'] = df['ore_sole'].astype(int)
    #soleggiamento
    tot=round(((df['ore_sole'].sum()/len(df))*4), 2)
    dati.append(tot)

In [38]:
dati

[7.37,
 8.79,
 8.3,
 8.16,
 7.28,
 9.01,
 8.0,
 8.52,
 8.0,
 7.68,
 8.25,
 7.8,
 7.9,
 8.81,
 8.02,
 8.1,
 8.57,
 8.03,
 8.25,
 8.26,
 7.45,
 9.55,
 7.74,
 8.78,
 8.14,
 8.06,
 7.74,
 7.79,
 8.8,
 6.75,
 8.41,
 7.89,
 8.6,
 8.39,
 7.58,
 8.9,
 8.61,
 9.27,
 8.84,
 8.33,
 8.65,
 8.56,
 7.98,
 7.92,
 7.95,
 7.92,
 7.85,
 8.2,
 7.94,
 8.16,
 7.82,
 7.62,
 8.06,
 7.64,
 8.48,
 8.99,
 8.24,
 8.94,
 8.61,
 7.69,
 8.61,
 7.58,
 7.86,
 7.77,
 7.53,
 7.56,
 7.42,
 7.8,
 7.22,
 7.88,
 7.68,
 7.75,
 7.59,
 8.28,
 8.07,
 8.28,
 8.06,
 7.65,
 7.89,
 7.73,
 7.82,
 7.75,
 8.81,
 8.86,
 8.37,
 8.7,
 8.73,
 8.85,
 8.53,
 9.24,
 8.74,
 8.78,
 8.97,
 9.48,
 9.16,
 8.09,
 7.93,
 9.05,
 8.75,
 8.02,
 8.36,
 7.85,
 7.86,
 8.23,
 7.93,
 7.87,
 8.32,
 7.95,
 7.81,
 8.09,
 7.85,
 7.79]

In [37]:
df2=pd.DataFrame(data=dati,index=listaprovince)
df2.to_csv("/Users/macssd/Desktop/Lab24/soleggiamento.csv")

In [38]:
df2

             0
Verbania  7.37
Trani     8.79
Terni     8.30
Teramo    8.16
Sondrio   7.28
...        ...
Rovigo    7.95
Treviso   7.81
Venezia   8.09
Verona    7.85
Vicenza   7.79

[112 rows x 1 columns]

# Indice di calore

In [39]:
df=pd.read_csv("/Users/macssd/Downloads/sole24h/Caltanissetta.csv", sep='\;', encoding = 'unicode_escape', engine ='python')

In [40]:
df.columns

Index(['data', 'ora', 'qn', 'zt', 'img', 'desc', 'desc_lng', 'mimg', 'mdesc',
       'mdesc_lng', 'ore_sole', 'ventoint', 'ventodir', 'temperatura',
       'temperatura_percepita', 'precipitazioni', 'accumulo', 'neve',
       'probabilita_prec', 'ma', 'ao', 'hr', 'pr', 'uv', 'copertura',
       'mcopertura', 'descrizione_uv', 'aggiornamento', 'dataestesa',
       'dataestesa_small'],
      dtype='object')

In [41]:
df.groupby('data')['temperatura_percepita'].max()

data
2011-01-01    11
2011-01-02    11
2011-01-03    12
2011-01-04    10
2011-01-05    10
              ..
2021-12-27    14
2021-12-28    13
2021-12-29    14
2021-12-30    14
2021-12-31    17
Name: temperatura_percepita, Length: 4018, dtype: int64

In [42]:
df2=df.groupby('data')['temperatura_percepita'].max()

In [45]:
tot=0
for x in df2:
    if x >= 30:
        tot=tot+1
    else:
        tot=tot

In [47]:
tot/11

75.54545454545455

In [50]:
#calcolo ogni provincia
dati=[]
for x in listaprovince:
    df=pd.read_csv(f'/Users/macssd/Downloads/sole24h/{x}.csv', sep='\;', encoding = 'unicode_escape', engine ='python')
    #raggruppiamo per ogni giorno , scegliendo il valore massimo di temperatura percepita
    df2=df.groupby('data')['temperatura_percepita'].max()
    tot=0
    #Loop per verificare quanti sono i giorni in 11 anni.
    for x in df2:
        if x >= 30:
            tot=tot+1
        else:
            tot=tot
    #media annua       
    dati.append(tot/11)

In [51]:
dati

[56.0,
 67.27272727272727,
 100.18181818181819,
 82.27272727272727,
 63.36363636363637,
 87.36363636363636,
 70.0909090909091,
 90.54545454545455,
 68.0909090909091,
 65.81818181818181,
 86.9090909090909,
 71.63636363636364,
 56.36363636363637,
 75.54545454545455,
 74.9090909090909,
 75.81818181818181,
 106.45454545454545,
 64.81818181818181,
 74.0909090909091,
 107.0909090909091,
 44.27272727272727,
 95.18181818181819,
 67.81818181818181,
 81.81818181818181,
 66.27272727272727,
 82.72727272727273,
 66.36363636363636,
 63.90909090909091,
 62.81818181818182,
 56.45454545454545,
 62.45454545454545,
 93.72727272727273,
 48.18181818181818,
 72.0,
 35.45454545454545,
 88.0909090909091,
 104.9090909090909,
 84.27272727272727,
 104.54545454545455,
 69.18181818181819,
 78.36363636363636,
 73.27272727272727,
 83.45454545454545,
 83.45454545454545,
 83.27272727272727,
 84.45454545454545,
 78.63636363636364,
 71.0,
 81.72727272727273,
 49.18181818181818,
 69.54545454545455,
 71.27272727272727,
 41.09090909090909,
 66.0909090909091,
 71.45454545454545,
 98.0,
 80.54545454545455,
 84.18181818181819,
 72.45454545454545,
 42.81818181818182,
 49.72727272727273,
 61.45454545454545,
 78.45454545454545,
 46.54545454545455,
 61.72727272727273,
 67.18181818181819,
 59.90909090909091,
 76.0,
 57.54545454545455,
 76.0909090909091,
 69.27272727272727,
 67.72727272727273,
 39.72727272727273,
 51.72727272727273,
 75.9090909090909,
 40.90909090909091,
 40.36363636363637,
 44.18181818181818,
 46.63636363636363,
 65.81818181818181,
 59.72727272727273,
 63.63636363636363,
 62.45454545454545,
 69.9090909090909,
 82.9090909090909,
 89.18181818181819,
 92.54545454545455,
 84.63636363636364,
 82.18181818181819,
 78.0,
 26.454545454545453,
 88.81818181818181,
 97.54545454545455,
 109.0,
 92.0909090909091,
 73.81818181818181,
 85.36363636363636,
 98.27272727272727,
 48.18181818181818,
 82.36363636363636,
 73.27272727272727,
 71.27272727272727,
 76.36363636363636,
 54.27272727272727,
 61.0,
 74.45454545454545,
 42.90909090909091,
 76.72727272727273,
 73.36363636363636,
 47.45454545454545,
 73.18181818181819,
 71.81818181818181]

In [52]:
df3=pd.DataFrame(data=dati,index=listaprovince)
df3.to_csv("/Users/macssd/Desktop/Lab24/indicecalore.csv")

In [53]:
df3

                   0
Verbania   56.000000
Trani      67.272727
Terni     100.181818
Teramo     82.272727
Sondrio    63.363636
...              ...
Rovigo     76.727273
Treviso    73.363636
Venezia    47.454545
Verona     73.181818
Vicenza    71.818182

[112 rows x 1 columns]

# Eventi estremi

Giorni annui con accumulo di pioggia >40mm per fascia esaoriaria

In [54]:
df=pd.read_csv("/Users/macssd/Downloads/sole24h/Caltanissetta.csv", sep='\;', encoding = 'unicode_escape', engine ='python')

In [55]:
df

,data,ora,qn,zt,img,desc,desc_lng,mimg,mdesc,mdesc_lng,...,ao,hr,pr,uv,copertura,mcopertura,descrizione_uv,aggiornamento,dataestesa,dataestesa_small
0,2011-01-01,0,ND,ND,var_no_prec.gif,Nubi sparse e schiarite,NaN,NaN,NaN,NaN,...,NaN,95,1019.0,0,4.5,4.5,NaN,NaN,"sab, 01 gennaio 2011","sab, 01"
1,2011-01-01,6,1585 m,1835 m,var_no_prec.gif,Nubi sparse e schiarite,NaN,NaN,NaN,NaN,...,NaN,92,1017.0,0,4.5,4.5,NaN,NaN,"sab, 01 gennaio 2011","sab, 01"
2,2011-01-01,12,1900 m,2115 m,var_no_prec.gif,Nubi sparse e schiarite,NaN,NaN,NaN,NaN,...,NaN,57,1016.0,0,4.5,4.5,NaN,NaN,"sab, 01 gennaio 2011","sab, 01"
3,2011-01-01,18,1820 m,2020 m,var_no_prec.gif,Nubi sparse e schiarite,NaN,NaN,NaN,NaN,...,NaN,83,1014.0,0,4.5,4.5,NaN,NaN,"sab, 01 gennaio 2011","sab, 01"
4,2011-01-02,0,1585 m,1785 m,var_no_prec.gif,Nubi sparse e schiarite,NaN,NaN,NaN,NaN,...,NaN,100,1014.0,0,4.5,3.0,NaN,NaN,"dom, 02 gennaio 2011","dom, 02"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16067,2021-12-30,18,3100 m,3377 m,velato.gif,Sereno con innocue velature,NaN,NaN,NaN,NaN,...,NaN,86,1018.4,0,1.0,1.0,NaN,NaN,"gio, 30 dicembre 2021","gio, 30"
16068,2021-12-31,0,3000 m,3333 m,sereno.gif,Sereno,NaN,NaN,NaN,NaN,...,NaN,78,1021.5,0,0.0,0.0,NaN,NaN,"ven, 31 dicembre 2021","ven, 31"
16069,2021-12-31,6,3050 m,3425 m,sereno.gif,Sereno,NaN,NaN,NaN,NaN,...,NaN,75,1021.6,0,0.0,0.0,NaN,NaN,"ven, 31 dicembre 2021","ven, 31"
16070,2021-12-31,12,3350 m,3644 m,sereno.gif,Sereno,NaN,NaN,NaN,NaN,...,NaN,38,1025.0,0,0.0,0.0,NaN,NaN,"ven, 31 dicembre 2021","ven, 31"
16071,2021-12-31,18,3400 m,3707 m,sereno.gif,Sereno,NaN,NaN,NaN,NaN,...,NaN,79,1025.7,0,0.0,0.0,NaN,NaN,"ven, 31 dicembre 2021","ven, 31"

Mancano i dati dagli anni 2011 al 2019.

# Brezza estiva (nodi medi giornalieri di vento nella stagione, media periodo 2011-2021)

In [103]:
df=pd.read_csv("/Users/macssd/Downloads/sole24h/Caltanissetta.csv", sep='\;', encoding = 'unicode_escape', engine ='python')

In [57]:
df2=df[df['data'].str.contains("-06-|-07-|-08-")==True]

In [58]:
df2.ventoint.sum()/len(df2)

8.938241106719367

In [59]:
dati=[]
for x in listaprovince:
    df=pd.read_csv(f'/Users/macssd/Downloads/sole24h/{x}.csv', sep='\;', encoding = 'unicode_escape', engine ='python')
    df2=df[df['data'].str.contains("-06-|-07-|-08-")==True]
    tot=df2.ventoint.sum()/len(df2)
    dati.append(tot)

In [60]:
dati

[3.6867588932806323,
 7.406867588932807,
 4.455039525691699,
 4.66798418972332,
 2.5963438735177866,
 8.349061264822135,
 4.778903162055336,
 7.875,
 5.948616600790514,
 4.601037549407114,
 5.066452569169961,
 4.9814723320158105,
 4.135622529644269,
 8.938241106719367,
 5.191699604743083,
 6.100543478260869,
 6.741847826086956,
 5.256669960474309,
 5.10943675889328,
 4.0896739130434785,
 3.8483201581027666,
 6.699357707509882,
 4.471096837944664,
 7.403409090909091,
 3.8925395256916997,
 5.284090909090909,
 3.661067193675889,
 4.3853754940711465,
 7.460968379446641,
 3.4666501976284585,
 5.3604249011857705,
 4.731966403162056,
 6.282361660079052,
 5.828804347826087,
 5.982954545454546,
 8.176136363636363,
 4.365859683794467,
 7.142786561264822,
 8.016798418972332,
 7.366847826086956,
 5.429594861660079,
 4.469367588932807,
 5.206768774703558,
 4.9061264822134385,
 4.855237154150197,
 4.698863636363637,
 4.10449604743083,
 6.39155138339921,
 3.9535573122529644,
 5.35251976284585,
 4.908843873517786,
 3.962697628458498,
 7.881916996047431,
 3.9792490118577075,
 3.403903162055336,
 6.09856719367589,
 4.184782608695652,
 5.7396245059288535,
 5.627717391304348,
 5.784337944664031,
 5.209239130434782,
 4.236166007905139,
 5.171442687747035,
 6.334733201581027,
 4.209239130434782,
 3.692193675889328,
 3.462203557312253,
 4.645256916996048,
 3.1511857707509883,
 4.234189723320158,
 4.0938735177865615,
 4.543478260869565,
 3.8757411067193677,
 7.319664031620554,
 6.194664031620554,
 7.940464426877471,
 10.489624505928854,
 7.123764822134388,
 4.6146245059288535,
 5.104249011857707,
 2.9839426877470356,
 4.579298418972332,
 7.221590909090909,
 8.609930830039525,
 6.414278656126482,
 6.845108695652174,
 6.8144762845849804,
 7.061264822134388,
 6.9856719367588935,
 4.856719367588933,
 9.047183794466402,
 6.500494071146245,
 5.820899209486166,
 6.3688241106719365,
 7.643033596837944,
 4.793478260869565,
 4.636363636363637,
 6.254693675889328,
 6.5481719367588935,
 4.273221343873518,
 4.803359683794467,
 4.568922924901186,
 4.677865612648222,
 5.12005928853755,
 2.350296442687747,
 2.3512845849802373,
 10.282855731225297,
 5.230731225296442,
 4.909584980237154,
 5.905879446640316,
 4.353754940711463,
 3.385869565217391]

In [61]:
df3=pd.DataFrame(data=dati,index=listaprovince)
df3.to_csv("/Users/macssd/Desktop/Lab24/brezzaestiva.csv")

# Umidità relativa (giorni annui fuori dal comfort climatico, >70% o <30%, media periodo 2011-2021)

In [62]:
df=pd.read_csv("/Users/macssd/Downloads/sole24h/Caltanissetta.csv", sep='\;', encoding = 'unicode_escape', engine ='python')

In [63]:
df.columns

Index(['data', 'ora', 'qn', 'zt', 'img', 'desc', 'desc_lng', 'mimg', 'mdesc',
       'mdesc_lng', 'ore_sole', 'ventoint', 'ventodir', 'temperatura',
       'temperatura_percepita', 'precipitazioni', 'accumulo', 'neve',
       'probabilita_prec', 'ma', 'ao', 'hr', 'pr', 'uv', 'copertura',
       'mcopertura', 'descrizione_uv', 'aggiornamento', 'dataestesa',
       'dataestesa_small'],
      dtype='object')

In [86]:
df2=df.groupby('data')['hr'].mean()

In [87]:
df2

data
2011-01-01    81.75
2011-01-02    83.25
2011-01-03    82.75
2011-01-04    85.25
2011-01-05    83.00
              ...
2021-12-27    95.50
2021-12-28    87.75
2021-12-29    87.50
2021-12-30    85.25
2021-12-31    67.50
Name: hr, Length: 4018, dtype: float64

In [77]:
df3=df.groupby('data')['hr'].min()

In [78]:
df3

data
2011-01-01    57
2011-01-02    53
2011-01-03    55
2011-01-04    68
2011-01-05    59
              ..
2021-12-27    91
2021-12-28    68
2021-12-29    79
2021-12-30    77
2021-12-31    38
Name: hr, Length: 4018, dtype: int64

In [90]:
tot=0
for x in df2:
    if x >= 70 or x<= 30:
        tot=tot+1
    else:
        tot=tot

In [92]:
tot/11

204.36363636363637

In [89]:
df2.dtypes

dtype('float64')

In [95]:
dati=[]
for x in listaprovince:
    df=pd.read_csv(f'/Users/macssd/Downloads/sole24h/{x}.csv', sep='\;', encoding = 'unicode_escape', engine ='python')
    #,media giornaliera dell'umidità
    df2=df.groupby('data')['hr'].mean()
    tot=0
    for x in df2:
        if x >= 70 or x<= 30:
            tot=tot+1
        else:
            tot=tot
    dati.append(tot/11)

In [96]:
dati

[177.27272727272728,
 148.0,
 193.0909090909091,
 175.45454545454547,
 195.36363636363637,
 204.9090909090909,
 164.63636363636363,
 216.45454545454547,
 193.9090909090909,
 192.45454545454547,
 197.63636363636363,
 193.0,
 226.1818181818182,
 204.36363636363637,
 166.1818181818182,
 185.63636363636363,
 210.0909090909091,
 170.54545454545453,
 199.1818181818182,
 202.72727272727272,
 177.54545454545453,
 198.54545454545453,
 200.0909090909091,
 142.45454545454547,
 151.54545454545453,
 191.45454545454547,
 211.9090909090909,
 239.27272727272728,
 143.9090909090909,
 240.0909090909091,
 161.0909090909091,
 221.45454545454547,
 172.63636363636363,
 170.45454545454547,
 215.45454545454547,
 169.54545454545453,
 174.54545454545453,
 143.54545454545453,
 189.8181818181818,
 260.09090909090907,
 203.36363636363637,
 214.54545454545453,
 163.72727272727272,
 160.45454545454547,
 166.8181818181818,
 174.0909090909091,
 185.0909090909091,
 165.8181818181818,
 160.0,
 177.72727272727272,
 140.1818181818182,
 139.27272727272728,
 136.45454545454547,
 137.0909090909091,
 190.36363636363637,
 192.8181818181818,
 203.0,
 175.36363636363637,
 207.27272727272728,
 215.72727272727272,
 186.27272727272728,
 226.45454545454547,
 207.8181818181818,
 208.54545454545453,
 192.1818181818182,
 171.0909090909091,
 201.0909090909091,
 170.72727272727272,
 210.63636363636363,
 164.9090909090909,
 189.1818181818182,
 184.63636363636363,
 181.63636363636363,
 181.63636363636363,
 180.63636363636363,
 178.63636363636363,
 201.0,
 231.1818181818182,
 175.72727272727272,
 194.45454545454547,
 187.36363636363637,
 205.1818181818182,
 151.8181818181818,
 196.72727272727272,
 141.1818181818182,
 179.63636363636363,
 163.72727272727272,
 181.63636363636363,
 205.45454545454547,
 100.63636363636364,
 201.63636363636363,
 239.8181818181818,
 204.1818181818182,
 173.1818181818182,
 236.45454545454547,
 190.45454545454547,
 182.1818181818182,
 168.1818181818182,
 204.54545454545453,
 192.0,
 196.9090909090909,
 183.72727272727272,
 182.63636363636363,
 190.8181818181818,
 128.0909090909091,
 165.45454545454547,
 201.45454545454547,
 167.72727272727272,
 158.0909090909091,
 168.9090909090909,
 150.36363636363637,
 165.0909090909091]

In [97]:
df3=pd.DataFrame(data=dati,index=listaprovince)
df3.to_csv("/Users/macssd/Desktop/Lab24/umiditàrelativa.csv")

# Raffiche di vento

In [99]:
df.groupby('data')['ventoint'].max()

data
2011-01-01    5.0
2011-01-02    6.0
2011-01-03    7.0
2011-01-04    5.0
2011-01-05    4.0
             ...
2021-12-27    3.0
2021-12-28    4.0
2021-12-29    2.0
2021-12-30    3.0
2021-12-31    3.0
Name: ventoint, Length: 4018, dtype: float64

In [104]:
df2=df.groupby('data')['ventoint'].max()

In [105]:
tot=0
for x in df2: 
    if x>25:
        tot=tot+1

In [107]:
tot/11

21.545454545454547

In [ ]:
dati=[]
for x in listaprovince:
    df=pd.read_csv(f'/Users/macssd/Downloads/sole24h/{x}.csv', sep='\;', encoding = 'unicode_escape', engine ='python')
    df2=df.groupby('data')['ventoint'].max()
    tot=0
    for x in df2: 
        if x>25:
            tot=tot+1
        else:
            tot=tot
    dati.append(tot/11)

# Nebbia (giorni annui con nebbia in almeno una fascia esaoraria, media periodo 2011-2021)

In [16]:
df3=df.groupby('data')['img'].value_counts().unstack().fillna(0)

In [28]:
if 'nebbia.gif' and 'nebbia_banchi.gif' in df3.columns:
    print('yes')

yes

In [18]:
df4=df3[['nebbia.gif']]

In [19]:
df4

img         nebbia.gif
data
2011-01-01         0.0
2011-01-02         0.0
2011-01-03         0.0
2011-01-04         0.0
2011-01-05         0.0
...                ...
2021-12-27         0.0
2021-12-28         0.0
2021-12-29         0.0
2021-12-30         0.0
2021-12-31         0.0

[4018 rows x 1 columns]

In [20]:
nebbia=0
for x in df4['nebbia.gif']:
    if x>0:
        nebbia=nebbia+1

In [21]:
nebbia

3

In [11]:
for x in df4: 
    print(x)

nebbia.gif
nebbia_banchi.gif

In [35]:
dati=[]
for x in listaprovince:
    df=pd.read_csv(f'/Users/macssd/Downloads/sole24h/{x}.csv', sep='\;', encoding = 'unicode_escape', engine ='python')
    df2=df.groupby('data')['img'].value_counts().unstack().fillna(0)
    nebbia=0
    if 'nebbia.gif' in df2.columns:
        if 'nebbia_banchi.gif' in df2.columns:
            df2=df2[['nebbia.gif','nebbia_banchi.gif']]
            for x in df2['nebbia.gif']:
                if x>0:
                    nebbia=nebbia+1
            for y in df2['nebbia_banchi.gif']:
                if y>0:
                    nebbia=nebbia+1
    elif  'nebbia_banchi.gif'in df2.columns:
        df2=df2[['nebbia_banchi.gif']]
        for y in df2['nebbia_banchi.gif']:
            if y>0:
                nebbia=nebbia+1
    else:
        nebbia=0
    
    dati.append(nebbia/11)

In [36]:
df3=pd.DataFrame(data=dati,index=listaprovince)
df3.to_csv("/Users/macssd/Desktop/Lab24/nebbia.csv")

# Giorni freddi (giorni annui con temperatura massima percepita < 3°C, media periodo 2011-2021)

In [13]:
dati=[]
for x in listaprovince:
    df=pd.read_csv(f'/Users/macssd/Downloads/sole24h/{x}.csv', sep='\;', encoding = 'unicode_escape', engine ='python')
    df2=df.groupby('data')['temperatura_percepita'].min()
    tot=0
    for x in df2:
        if x < 3:
            tot=tot+1
        else:
            tot=tot
            
    dati.append(tot/11)

In [14]:
df3=pd.DataFrame(data=dati,index=listaprovince)
df3.to_csv("/Users/macssd/Desktop/Lab24/giornifreddi.csv")